params {
    outdir = "results"
    sort_extra_params = " --MAX_RECORDS_IN_RAM 500999 --COMPRESSION_LEVEL 7 "
    fixmate_extra_params = " --COMPRESSION_LEVEL 6 "
    markdup_extra_params = " --COMPRESSION_LEVEL 5 "
    addrep_extra_params = " --COMPRESSION_LEVEL 5 "
    gatk_invoc = "gatk"
    picard_invoc = "java -jar /usr/gitc/picard.jar "
    bwa_invoc = "/usr/gitc/bwa "
    samtools_invoc = "samtools"
    tmpdir = "./TMPDIR"
    ref     = 's3://nextflow-sra-data/IRGC/GCA_001433935.1_IRGSP-1.0_genomic.fna'
    ref_fai = 's3://nextflow-sra-data/IRGC/GCA_001433935.1_IRGSP-1.0_genomic.fna.fai'
    ref_dict = 's3://nextflow-sra-data/IRGC/GCA_001433935.1_IRGSP-1.0_genomic.dict'
    CN = "TXG"
    PL = "ILLUMINA"
}

docker.enabled = true

process {
      withName: ALIGN {
        cpus = 4
		memory = "8.GB"
      }

       withName: bamProcess {
            cpus = 2
			memory = "8.GB"
       }

      withName: mergeBam {
         cpus = 4
         memory = "8.GB"
       }

       withName: variantCall {
            cpus = 2
			memory = "8.GB"
       }
}

